<!DOCTYPE html>
<html>
<head>
<title>Book store</title>
<link rel='stylesheet'href='/stylesheets/style.css'>

</head>
<body>

<h1>User Name</h1>
<h2>Password</h2>
<p>Contact</p>
<a href="/author"><i class="fa fa-fw fa-table"></i>book page</a>

</body>
</html> 
