<!DOCTYPE html>
<html>
<head>
<title>Book name</title>
<link rel='stylesheet'href='/stylesheets/style.css'>

</head>
<body>

<h1>Books</h1>
<h2>Favorite Book</h2>
<h4>i love to read books</h4>
<p>Books Catagories</p>
<a href="/profile"><i class="fa fa-fw fa-table"></i>Profile</a>

</body>
</html> 
