<!DOCTYPE html>
<html>
<head>
<title>Book page</title>
<link rel='stylesheet'href='/stylesheets/style.css'>

</head>
<body>
<h1>Book Name<%= BookName %></h1>
<p>Book catagories</p>
<a href="/time"><i class="fa fa-fw fa-table"></i>review</a>

</body>
</html> 
